.auth-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  height: 100vh;
  width: 100vw;
  .auth-popup-container {
    background: #fff;
    width: 675px;
    margin: auto;
    padding: 95px;
    position: relative;
    // @include below($ipad) {
    //   width: 660px;
    //   padding: 88px;
    // }

    // @include below($mobile) {
    //   width: 100%;
    //   padding: 30px;
    //   height: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   > div {
    //     width: 100%;
    //   }
    // }

    .popup-close-button {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.5;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    h2 {
      margin: 0;
      & + p {
        margin-top: 0;
        margin-bottom: 50px;
        // @include below($ipad) {
        //   margin-bottom: 40px;
        // }

        // @include below($mobile) {
        //   margin-bottom: 32px;
        // }
      }
    }
    .btn-social {
      margin-bottom: 15px;
      margin-bottom: 15px;
      display: block;
      width: 100%;
      border: 1px solid lightgray;
      &:hover {
        color: $green;
      }
    }
  }
}

// @include between($ipad, $scaling) {
//   .auth-popup {
//     .auth-popup-container {
//       width: 42.19vw;
//       padding: 5.94vw;
//       h2 {
//         & + p {
//           margin-bottom: 3.13vw;
//         }
//       }
//       .btn-social {
//         margin-bottom: 0.94vw;
//       }
//     }
//   }
// }
